<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VehicleDBEntities" connectionString="metadata=res://*/TablePerTypeModel.csdl|res://*/TablePerTypeModel.ssdl|res://*/TablePerTypeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=VehicleDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>